{% extends 'default_layout.html' %}
{% block head %}
    {{ super() }}
    <style>
        .weekholder{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
        }
        .card {
            border: 0px
        }
    </style>
{% endblock %}
{% block container %}
    {% set weekdays=['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'] %}
    {% if user %}
        <div class="container-fluid">
            <div class="card bg-light shadow-sm mb-2 ">
                <div class="card-header"><h5>Настройки Расписания</h5></div>
                <form class="card-body">
                    <div class="row mb-3">
                        <div class="input-group col-lg pb-3 pb-lg-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Название расписания</span>
                            </div>
                            <input class="form-control" id="schedulename" type="text" placeholder='Например "Расписание группы 406"'>
                        </div>
                        <div class="input-group col-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Сdсылка</span>
                            </div>
                            <input class="form-control" id="alias" type="text" placeholder='group-406'>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="privacy">Приватность расписания</label>
                            <div class="input-group" id="privacy">
                                <div class="form-check mr-3">
                                    <input class="form-check-input" type="radio" name="privacy_check" id="public_check" value="option1" checked>
                                    <label class="form-check-label" for="public_check">Публичное</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="privacy_check" id="private_check" value="option2">
                                    <label class="form-check-label" for="private_check">Приватное</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="weekholder">
                {% for i in range(7) %}
                <div class="card bg-light shadow-sm">
                    <div class="card-header pb-1 text-center"><h6>{{weekdays[i]}}</h6></div>
                    <div class="card-body p-0">
                        {% for j in range(9) %}
                        <div class="input-group" style="border-radius: 0px">
                            <input class="form-control form-control-sm" style="border-radius: 0px" type="text" placeholder="{{j+1}}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock container %}