{% extends 'default_layout.html' %}
{% block content %}
    {% if user %}
        {% for schedule in schedules %}
            {% import 'macros.html' as macros %}
            {{ macros.schedule(user=user, schedule=schedule)}}
        {% else %}
            <div class="rounded border shadow-sm bg-light mb-3" style="border: 0px">
                <div class="card-header rounded pb-1"><h5>Ой, вы не подписаны ни на одно расписание</h5></div>
                <div class="card-body">
                    <p class="mb-0">&emsp;Вы можете создать своё расписание или найти уже созданное воспользовавшись поиском. Когда у вас появятся расписания они будут отображатся тут :)</p>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex flex-row">
            <a class="btn btn-sm btn-outline-primary p-2 rounded-pill mx-auto" href="{{url_for('web.create_schedule')}}">Создать новое расписание</a>
        </div>
    {% else %}
        {% import 'macros.html' as macros %}
        {{ macros.message(title='Добро пожаловать!', messages=[
            'Вы не авторизованы, поэтому сейчас вы можете лишь находить и просматривать расаписания.',
            'Авторизуйтесь чтобы получить возможность создавать свои и подписываться на расписания, созданные другими пользователями.']) }}
    {% endif %}
    <!--div class="message rounded">
        <a class="message-title rounded" href="{{url_for('static', filename='css/main.css')}}">Обновить main.css</a>
    </div>
    <div class="message rounded">
        <a class="message-title rounded" href="{{url_for('static', filename='bootstrap-4.2.1/css/bootstrap.css')}}">Обновить bootstrap.css</a>
    </div-->
{% endblock content %}
{% block no_container%}{% endblock %}