{% extends 'default_layout.html' %}
{% block head%}
    {{super()}}
    <style>
        /*xl break-point*/
    @media (min-width: 1200px){
        #control-menu {
            display: none;
        }
        #schedule:hover #control-menu {
            display: inline-block;
        }

    </style>
{% endblock head %}
{% block schedule_menu_script %}{{super()}}{% endblock schedule_menu_script %}
{% block schedule_menu_modal %}{{super()}}{% endblock schedule_menu_modal %}
{% block content %}
    {% if user %}
        <!--h1>Ну привет, {{user['username']}}</h1-->
        {% if schedules[0] %}
            {% for schedule in schedules %}
                {% import 'macros.html' as macros %}
                {{ macros.schedule(user=user, schedule=schedule)}}
            {% endfor %}
            <div class="d-flex flex-row">
                <a class="btn btn-sm btn-outline-primary p-2 rounded-pill mx-auto" href="{{url_for('web.create_schedule')}}">Создать новое расписание</a>
            </div>
        {% else %}
            <div class="border rounded-box shadow-sm bg-light" style="border: 0px">
                <h5>Ой, вы не подписаны ни на одно расписание</h5>
                <div class="card-body">
                    <p class="mb-0">&emsp;Вы можете создать своё расписание или найти уже созданное воспользовавшись поиском. Когда у вас появятся расписания они будут отображатся тут :)</p>
                </div>
                <a class="btn btn-outline-secondary" href="{{ url_for('web.create_schedule')}}" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Создать своё расписание</a>
            </div>
        {% endif %}
    {% else %}
        <div class="border rounded shadow-sm bg-light" style="border: 0px">
            <div class="card-header pb-1"><h5>Добро пожаловать!</h5></div>
            <div class="media-body m-3">
                <p class="mb-0">&emsp;Вы не авторизованы, поэтому сейчас вы можете лишь находить и просматривать расаписания.</p>
                <p>&emsp;Авторизуйтесь чтобы получить возможность создавать свои и подписываться на расписания, созданные другими пользователями.</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}
{% block no_container%}{% endblock %}