{% extends 'default_layout.html' %}
{% block head %}
    {{super()}}
    <style>
        html, body {
            height: 100%;
        }
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f8f8f8;
        }
        form {
            width: 100%;
            max-width: 380px;
            min-width: 300px;
        }
        .form-control {
            position: relative;
            font-size: 24px;
            height: auto;
        }
        .form-control:focus{
            z-index: 2;
        }
        input[type=text] {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        input[type=password] {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            margin-top: -1px;
        }
    </style>
    <script>
    $(function readyFn(){
        $('#username_input, #password_input').keyup(function(){
            var username = $('#username_input').val();
            var password = $('#password_input').val();
            $('#done').attr('disabled', !(username.length > 0 && password.length > 0));
        });
    });
    </script>
{% endblock %}
{% block navbar %}{% endblock %}
{% block container %}{% endblock %}
{% block no_container %}
    <form class="form" action="" method="post">
        <h2 class="mb-3">Вход</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input class="form-control" type="text" id="username_input" name="username" placeholder="Логин" required autofocus>
        <input class="form-control mb-3" type="password" id="password_input" name="password" placeholder="Пароль" required>
        <div class="btn-group btn-block" role="group">
            <input class="btn btn-primary btn-lg" id="done" disabled style="width: 50%" type="submit" value="Войти">
            <a class="btn btn-secondary btn-lg" href="{{ url_for('web.home') }}" style="width: 50%">Позже</a>
        </div>
        <p class="text-center mt-3 text-muted">Ещё нет аккаунта? <a class="text text-lg" href="{{url_for('web.register')}}">Зарегистрируйтесь</a></p>
    </form>
{% endblock %}