{% macro schedule(user, schedule) %}
    <div id="schedule" class="row align-items-center p-3 mb-3 mx-0 shadow-sm border rounded">
        <a class="col-md-10 text-decoration-none text-truncate" href="{{url_for('web.view_schedule', alias=schedule.alias)}}">
            <div>{{schedule.name}}</div>
            <div class="text-muted">@{{schedule.alias}}</div>
        </a>
        {{schedule_menu(user, schedule)}}
    </div>
{% endmacro %}
{% macro schedule_menu(user, schedule) %}
    {% if user %}
        {% if user['_id'] != schedule['creator'] and user['_id'] not in schedule['moderators'] %}
        <div class="col-md-2" id="schedule-menu">
        {% if user['_id'] in schedule['subscribed_users'] %}
            <a class="btn btn-outline-danger rounded p-0 px-2 mt-2 mt-md-0" href="#" data-toggle="modal" data-target="#confirmation-modal" data-action="unsubscribe" data-schedule-name="{{schedule.name}}" data-schedule-alias="{{schedule.alias}}">Отписаться</a>
        {% else %}
            <a class="btn btn-outline-success rounded subscribe-btn p-0 px-2" href="#" data-schedule-name="{{schedule.name}}" data-schedule-alias="{{schedule.alias}}">Подписаться</a>
        {% endif %}
        </div>
        {% else %}
        <div class="col-md-2 dropdown" id="schedule-menu">
            <a class="btn btn-outline-primary rounded-pill p-0 px-2 mt-2 mt-md-0" href="#" id="control-menu" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                Настройки
            </a>
            <div class="rounded-group-vertical dropdown-menu dropdown-menu-md-right shadow" aria-labelledby="#control-menu">
            {% if user['_id'] in schedule['subscribed_users'] %}
                <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#confirmation-modal" data-action="unsubscribe" data-schedule-name="{{schedule.name}}" data-schedule-alias="{{schedule.alias}}">Отписаться</a>
            {% else %}
                <a class="dropdown-item text-success subscribe-btn" href="#" data-schedule-name="{{schedule.name}}" data-schedule-alias="{{schedule.alias}}">Подписаться</a>
            {% endif %}
            {% if user['_id'] == schedule['creator'] or user['_id'] in schedule['moderators'] %}
                <div class="dropdown-divider my-1"></div>
                <a class="dropdown-item text-primary" href="#">Изменение</a>
                <a class="dropdown-item text-primary"  href="{{url_for('web.edit_schedule', alias=schedule.alias)}}" id="schedule_edit">Редактировать</a>
            {%endif%}
            {% if user['_id'] == schedule['creator'] %}
                <div class="dropdown-divider my-1"></div>
                <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#confirmation-modal" data-action="delete" data-schedule-name="{{schedule.name}}" data-schedule-alias="{{schedule.alias}}">Удалить</a>
            {%endif%}
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endmacro %}
{% macro message(title, messages) %}
    <div class="message rounded shadow-sm mb-3 border">
            <div class="message-title rounded border-bottom pb-1"><h5>{{title}}</h5></div>
            {% if messages %}
            <div class="card-body">
            {% for message in messages %}
                <p class="mb-0">&emsp;{{message}}</p>
            {% endfor %}
            </div>
            {% endif %}
        </div>
{% endmacro %}
