{% extends 'default_layout.html' %}
{% block content %}
    {% if user %}
        <!--h1>Ну привет, {{user['username']}}</h1-->
        {% if schedules[0] %}
            {% for schedule in schedules %}
                <a href="{{ url_for('view_schedule', alias=schedule.alias)}}">{{schedule.name}}</a>
            {% endfor %}
        {% else %}
            <div class="card shadow-sm bg-light" style="border: 0px">
                <div class="card-header pb-1"><h5>Ой, вы не подписаны ни на одно расписание</h5></div>
                <div class="card-body">
                    <p class="mb-0">&emsp;Вы можете создать своё расписание или найти уже созданное воспользовавшись поиском. Когда у вас появятся расписания они будут отображатся тут :)</p>
                </div>
                <a class="btn btn-outline-secondary" href="{{ url_for('create_schedule') }}" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Создать своё расписание</a>
            </div>
        {% endif %}
    {% else %}
        <div class="card shadow-sm bg-light" style="border: 0px">
            <div class="card-header pb-1"><h5>Добро пожаловать!</h5></div>
            <div class="media-body m-3">
                <p class="mb-0">&emsp;Вы не авторизованы, поэтому сейчас вы можете лишь находить и просматривать расаписания.</p>
                <p>&emsp;Авторизуйтесь чтобы получить возможность создавать свои и подписываться на расписания, созданные другими пользователями.</p>
            </div>
        </div>
    {% endif %}
{% endblock content %}