{% extends 'default_layout.html' %}
{% block head %}
    {{ super() }}
    <style>
        html, body {
            height: 100%;
        }
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f8f8f8;
        }
        form {
            width: 100%;
            max-width: 380px;
            min-width: 300px;
        }
        .form-control {
            position: relative;
            font-size: 24px;
            height: auto;
        }
        .form-control:focus{
            z-index: 2;
        }
    </style>
    <script>
    $(function readyFn(){
        $('#username_input').keyup(function (){
            $('#done').attr('disabled', !usernameChecker(true));
        });
        $('#password_input').keyup(function (){
            $('#done').attr('disabled', !passwordChecker(true));
        });
        $('#confirmation_input').keyup(function (){
            $('#done').attr('disabled', !passwordChecker(true));
        });
    });
    function usernameChecker(update){
        var username = $('#username_input').val();
        $('.alert-username').detach();
        if (username.length < 1){
            if (update) $('#username_input').addClass('is-invalid').removeClass('is-valid');
            return false;
        }

        if (/[^A-Za-z0-9_\.]+/.test(username)){
            if (update){
                $('#username_input').addClass('is-invalid').removeClass('is-valid');
                $('.message-container')
                    .attr('hidden', false)
                    .append('<div class="alert alert-danger alert-username">Разрешены лишь символы латиницы (a-z), арабские цифры (0-9), "_" и "."</div>');
            }
            return false;
        }

        if (/.*(_{2}|\.{2})/.test(username)){
            if (update){
                $('#username_input').addClass('is-invalid').removeClass('is-valid');
                $('.message-container')
                    .attr('hidden', false)
                    .append('<div class="alert alert-danger alert-username">Между двумя символами "_" или "." должна быть хотябы одна буква или цифра</div>');
            }
            return false;
        }
        if (update){
            $('#username_input').removeClass('is-invalid').addClass('is-valid');
            var password = $('#password_input').val();
            var confirmation = $('#confirmation_input').val();
            return password.length > 0 && password == confirmation;
        }
        return true;
    };
    function passwordChecker(update){
        var password = $('#password_input').val();
        var confirmation = $('#confirmation_input').val();

        if (password.length < 1) {
            if (update) $('#password_input').addClass('is-invalid').removeClass('is-valid');
            return false;
        }

        if (update){
            $('#password_input').removeClass('is-invalid').addClass('is-valid');
        }

        if (password != confirmation){
            if (update) $('#confirmation_input').addClass('is-invalid').removeClass('is-valid');
            return false;
        }
        if (update){
            $('#confirmation_input').removeClass('is-invalid').addClass('is-valid');
            return usernameChecker(false);
        }
        return true;
    }
    </script>
{% endblock %}
{% block navbar %}{% endblock%}
{% block container %}{% endblock %}
{% block no_container %}
    <form action="" method="post">
        <h2 class="mb-3">Регистрация</h2>
        <div class="message-container" hidden="true">

        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input class="form-control username rounded mb-2" id="username_input" type="text" name="username" placeholder="Логин" autofocus>
        <input class="form-control password rounded mb-2" id="password_input" type="password" name="password" placeholder="Пароль">
        <input class="form-control confirmation rounded mb-2" id="confirmation_input" type="password" name="confirmation" placeholder="Подтверждение пароля">
        <div class="rounded-group" role="group">
            <input class="btn btn-primary btn-lg" id="done" style="width: 50%" type="submit" value="Готово" disabled="true">
            <a class="btn btn-secondary btn-lg" href="{{ url_for('web.home') }}" style="width: 50%">Позже</a>
        </div>
        <p class="text-center mt-3 text-muted">Уже есть аккаунт? <a class="text text-lg" href="{{url_for('web.login')}}">Войдите</a></p>
    </form>
</body>
{% endblock %}