{% extends 'default_layout.html '%}
{% block head %}
    {{super()}}
    <style>
        .dayholder{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        }
        .lessonholder{
            display: grid;
            grid-template-rows: repeat(9, 1);
        }
        .card-header{
            border-radius: 0 !important;
        }
        .nav-link.active {
            color: #495057;
            background-color: #dee2e6;
            border-color: #dee2e6 #dee2e6 #dee2e6;
        }
    </style>
    <script>
        $(function readyFn(){
            week_count = {{schedule.schedule|length}};
            var today = new Date();

            var active_week = 1;

            if (week_count > 1){
                var first_day = '{{schedule.first_day}}';
                var year = '20'+first_day.substring(6)
                var month = first_day.substring(3, 5)
                var day = first_day.substring(0, 2)
                //console.log(`${year}-${month}-${day}`)
                first_day_date = new Date(parseInt(year), parseInt(month)-1, parseInt(day))
                //console.log(first_day_date)

                var today_time = today.getTime();
                var first_day_time = first_day_date.getTime();

                var timeDelta = today_time - first_day_time;
                timeDelta = timeDelta/1000/60/60/24 //конвертируем в дни

                var weeks_passed = Math.floor(timeDelta/7)
                //console.log(weeks_passed);
                var active_week = (weeks_passed % week_count) +1;
                //console.log(active_week);
            }

            var changes = {{schedule['changes'] | safe}}

            day_of_the_week = today.getDay();
            if (day_of_the_week == 0) day_of_the_week = 7;
            $(`#week-${active_week}-day-${day_of_the_week}`).addClass('today');
            $(`#nav-week-${active_week}`).tab('show')
            window.location.hash = `#week-${active_week}-day-${day_of_the_week}`;
        })
    </script>
{% endblock head%}
{% block content %}
    <div class="rounded border">
        <div class="d-flex rounded border-bottom px-3 pt-2 pb-1">
            <h5>{{schedule.name}}</h5>
            {% import 'macros.html' as macros%}
            {{ macros.schedule_menu(user, schedule)}}
        </div>
        <div class="p-3">
            <div class="btn btn-primary">Подписчики</div>
        </div>
    </div>
{% endblock content %}
{% block no_container %}
    {% set weekdays=['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'] %}
    <div class="container-fluid px-0 px-lg-5">
        <div class="weekholder">
            <nav class="weektabholder">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for i in range(schedule.schedule|length) %}
                    <a class="nav-item nav-link p-2 px-3 mr-1 {% if i==0 %}active{%endif%}" id="nav-week-{{i+1}}" data-toggle="tab" href="#week-{{i+1}}" >
                        <h6 class="mb-0">{{i+1}}-я</h6>
                    </a>
                {% endfor %}
                </div>
            </nav>
            <div class="tab-content">
            {% for w in range(schedule.schedule|length) %}
                <div class="tab-pane fade show {% if w<1 %}active{%endif%}" id="week-{{w+1}}">
                    <div class="dayholder" >
                    {% for d in range(schedule.schedule[w]|length) %}
                        <div class="d-flex flex-column" id="week-{{w+1}}-day-{{d+1}}">
                            <div class="card-header pb-1 text-center"><h6>{{weekdays[d]}}</h6></div>
                            {% set ns = namespace(has_lessons=false) %}
                            {% for l in range(schedule.schedule[w][d]|length)%}
                                {% if schedule.schedule[w][d][l]|length > 0 %}
                                    {% set ns.has_lessons = true %}
                                {% endif %}
                            {% endfor %}
                            {% if ns.has_lessons %}
                                <div class="lessonholder rounded-group-vertical m-2 flex-grow-1 list-group shadow-sm">
                                {% for l in range(schedule.schedule[w][d]|length) %}
                                    <div class="d-flex align-items-center list-group-item py-1 px-3">
                                        <div class="text-muted">{{l+1}}</div>
                                        <div class="flex-grow-1 text-center">{{schedule.schedule[w][d][l]}}</div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% else %}
                                <div class="rounded m-2 flex-grow-1 d-flex align-items-center">
                                    <div class="text-muted text-center mx-auto p-2">Выходной</div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock no_container %}